/* index.tsx */
.filesCardGrid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.fileName {
  border-bottom: 2px solid var(--ccc);
}

.logo {
  width: 20px;
  height: 20px;
}

.filesCard {
  background: var(--eee);
  padding: 12px;
  /* border-radius: 10px; */
  gap: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}

.fileCard {
  border: 2px solid var(--ccc);
  overflow: hidden;
}

.addCard {
  composes: fileCard;
  border-style: dashed;
  background: var(--fff);
  font-weight: bold;
  font-size: 3rem;
  color: var(--ccc);
}

.modifs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modifsTitle {
  font-size: 0.7rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 3px 6px;
  background: blue;
  color: white;
  font-weight: 700;
  /* border-radius: 6px; */
}

/* editor.tsx */
.monaco {
  flex: 1;
  display: grid;
  grid-template-areas: 'monaco';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.monacoAndTest {
  flex: 1;
  display: grid;
  grid-template-areas: 'monaco test';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.test {
  grid-area: test;
}

.editor {
  grid-area: monaco;
}
.testRenderer {
  display: flex;
  flex-direction: column;
}
.inputName {
  display: flex;
  align-items: center;
}

/* prettier-ignore */
.input {
  font-family: inherit;
  padding: var(--s) 0px;
  padding-right: 0;
  margin: 0;
  font-size: 1.3rem;
  outline: none;
  background: var(--fff0);
  transition: all 0.2s;
  border: 1px solid;
  border-color: var(--ddd0);
}

/* prettier-ignore */
.inputName:hover .input,
.input:focus {
  background: var(--ffff);
  padding: 6px 6px;
  border-color: var(--dddf);
}

.inputExtension {
  font-family: var(--monospace);
  font-size: 1.3rem;
  padding: 6px 0px;
}

.inputName:hover .inputExtension {
  padding: 6px 4px;
}

.spacer {
  padding: 0px 3px;
}

.updatedAt {
  background: var(--ccc);
  padding: 3px 6px;
}

.loader {
  width: 15px;
}
