.listContainer {
  height: 100%;
  display: flex;
}

.table {
  width: 100%;
  background: #efefef;
  cursor: pointer;
  font-family: var(--monospace);
}

.table thead {
  font-size: 32px;
  text-align: left;
}
.table tbody {
  font-size: 24px;
}
.table td {
  padding: 1rem;
}
.table th {
  padding: 1rem;
}

.table tbody > tr:hover {
  background: grey;
}
