.canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.pause {
  position: fixed;
  bottom: 0;
  color: white;
  right: 0;
  margin: var(--m);
  padding: var(--m);
  z-index: 1000;
  font-family: var(--monospace);
}

.fullHeight {
  position: relative;
  flex: 1;
}
