.canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.pause {
  position: fixed;
  bottom: 0;
  color: white;
  background: green;
  right: 0;
  margin: 12px;
  padding: 12px;
  z-index: 1000;
  border: 2px solid white;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  font-family: var(--monospace);
  font-size: 1rem;
  font-weight: bold;
}

.fullHeight {
  position: relative;
  flex: 1;
}
