.nav {
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--ddd);
}

.links {
  appearance: none;
  list-style-type: none;
}

.logo {
  font-size: 2rem;
}

.navLink {
  color: var(--888);
}

.navLink:global(.active) {
  color: var(--222);
}
