.nav {
  display: flex;
  align-items: baseline;
  background: #eee;
  padding: 24px;
  gap: 30px;
  position: sticky;
  top: 0;
}

.backArrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backArrowImg {
  max-width: 100%;
}

.navTitle {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.title {
  font-family: 'Neon Led';
  font-size: 2rem;
}

.links {
  display: flex;
  appearance: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
  flex: 1;
}

.link {
  font-size: 1rem;
  font-family: Silom;
}

.navLink {
  text-decoration: none;
  color: #888;
}

.navLink:global(.active) {
  color: #222;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
