.p {
  white-space: pre-line;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.tab {
  padding: var(--l);
  background: #ddd;
}

.activeTab {
  composes: tab;
  background: #eee;
}

.link {
  color: var(--ts-blue);
}

.notFound {
  font-size: 30rem;
  text-align: center;
}
