.missions {
  flex: 1;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--xl);
  padding: var(--xl);
  justify-content: center;
}

.prepareMission {
  grid-column: 1 / 3;
}

.mswOpened {
  grid-row: 1 / 3;
}

.missionSelectorItem {
  border: 4px solid var(--ccc);
  background: var(--ddd);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.unlockedMissionSelector {
  composes: missionSelectorItem;
}

.selectedMissionSelector {
  composes: missionSelectorItem;
  border-color: var(--space-yellow);
  animation: blinking 3s linear 0s infinite;
}

.lockedMissionSelector {
  composes: missionSelectorItem;
  filter: brightness(0.3);
}
/* prettier-ignore */
@keyframes blinking {
  0% { border-color: var(--space-yellow); }
  70% { border-color: var(--space-yellow); }
  75% { border-color: #ccc; }
  80% { border-color: var(--space-yellow); }
  85% { border-color: #ccc; }
  90% { border-color: var(--space-yellow); }
  100% { border-color: var(--space-yellow); }
}

.missionsSelector {
  display: grid;
  gap: var(--xl);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 139px;
}

.summaryShipImage {
  width: 50px;
  image-rendering: pixelated;
}

.messageContent {
  color: var(--888);
}
