.introductionWrapper {
  font-size: 2.3rem;
  overflow: hidden;
}

.introductionTexts {
  font-family: 'Unifont';
  font-size: 1.2rem;
  line-height: 1.4;
  white-space: pre-line;
}

.updatedAt {
  font-size: 12px;
  font-family: 'Unifont';
  background: var(--ccc);
  padding: 2px 3px;
}

.loader {
  width: 15px;
}

.wc {
  font-family: 'Unifont';
  font-size: 12px;
  padding-left: var(--s);
}
