.container {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-gap: 12px;
  overflow-x: hidden;
}

.galleryCell {
  height: 20rem;
  width: 20rem;
  flex-shrink: 0;
  transition: all 0.2s;
}

.galleryCell img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.galleryCellActive {
  composes: galleryCell;
  height: 35rem;
  width: 100%;
}

.cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.previous {
  composes: cell;
  gap: 1rem;
  justify-content: end;
  text-align: right;
}
.center {
  composes: cell;
  z-index: 1;
}
.next {
  composes: cell;
  gap: 1rem;
}
