.inputCheckbox {
  width: 1px;
  height: 1px;
  visibility: hidden;
  position: fixed;
  top: -10000vh;
  left: -10000vh;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #222;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uncheckedBox {
  composes: checkbox;
}

.checkedBox {
  composes: checkbox;
  background: #222;
}

.checkedMark {
  position: relative;
  top: -1px;
  left: 1px;
}
